.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#Project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* Atur tinggi gambar agar seragam */
.project-card img {
  height: 180px; /* Set height for consistency */
  width: 100%; /* Full width */
  object-fit: cover; /* Ensures images are not distorted */
  object-position: center; /* Centers the image */
}

/* Set a fixed height for card content to ensure uniformity */
.project-card {
  border: 1px solid #ccc;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the card takes up the full height */
  min-height: 500px; /* Adjust based on your content */
  overflow: hidden;
}

/* Limit the height of the card text to ensure uniformity */
.project-card .card-text {
  flex-grow: 1;
  min-height: 120px;
  max-height: 150px; /* Set maximum height */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limits the number of lines */
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

/* Ensure the buttons stay at the bottom */
.project-card .btn {
  margin-top: auto;
}
